* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: main_font;
  src: url(This\ Cafe.otf);
}
.mainBox {
  height: 190vh;
  width: 80%;
  margin: 0 auto;
  background-color: #699dd03e;
  display: block;
  font-family: main_font;
  font-style: italic;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1 {
  text-align: center;
  background-color: rgb(6, 29, 49);
  color: #ffffff;
}
/* div-1 */
.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6,
.box_7
 {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 10% 20px 20px 20px;
  border-radius: 50%;
  box-shadow: 10px 10px 50px rgb(84, 83, 83);
  display: flex;
}
.box_1 {
  left: 10%;
  z-index: 1;
  background-color: #FF8EC6;
}
.box_2 {
  left: 20%;
  background-color: #FF9ACD;
  z-index: 2;
}
.box_3 {
  left: 30%;

  background-color:#FFA7D3;
  z-index: 3;
}
.box_4 {
  left: 40%;
  background-color: #FFB3D9;
  z-index: 4;

}
.box_5 {
  left: 50%;
  background-color: #FFC0E0;
  z-index: 5;

}
.box_6 {
  left: 60%;
  background-color:#FFCDE6;
  z-index: 6;
}
.box_7 {
  left: 70%;
  background-color:#FFD9EC;
  z-index: 7;
}
/* div-2 */
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6,
.box-7{
  height: 200px;
  width: 200px;
  position: absolute;
  margin: 30% 20px 20px 20px;
  border-radius: 50%;
  box-shadow: 10px 10px 50px rgb(84, 83, 83);
  display: flex;
}
.box-1 {
    left: 10%;
    z-index: 1;
    background-color: #0090B0;
  }
  .box-2 {
    left: 20%;
    background-color: #189BB7;
    z-index: 2;
  }
  .box-3 {
    left: 30%;
  
    background-color:#31A5BF;
    z-index: 3;
  }
  .box-4 {
    left: 40%;
    background-color:#4BAFC6;
    z-index: 4;
  
  }
  .box-5 {
    left: 50%;
    background-color:#63B9CC;
    z-index: 5;
  
  }
  .box-6 {
    left: 60%;
    background-color:#7CC4D4;
    z-index: 6;
  }
  .box-7 {
    left: 70%;
    background-color:#7CC4D4;
    z-index: 7;
  }
  /* div-3 */
  .box-1-,
  .box-2-,
  .box-3-,
  .box-4-,
  .box-5-,
  .box-6-,
  .box-7-{
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 50% 20px 20px 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgb(84, 83, 83);
    display: flex;
  }
  .box-1- {
      left: 10%;
      z-index: 1;
      background-color: #1E6431;
    }
    .box-2- {
      left: 20%;
      background-color:#2C8943;
      z-index: 2;
    }
    .box-3- {
      left: 30%;
    
      background-color:#40AC48;
      z-index: 3;
    }
    .box-4- {
      left: 40%;
      background-color:#6BBE45;
      z-index: 4;
    
    }
    .box-5- {
      left: 50%;
      background-color:#8BC550;
      z-index: 5;
    
    }
    .box-6- {
      left: 60%;
      background-color:#A8D279;
      z-index: 6;
    }
    .box-7- {
      left: 70%;
      background-color:#C5E0A0;
      z-index: 7;
    }
  /* div-3 */
  .box-1--,
  .box-2--,
  .box-3--,
  .box-4--,
  .box-5--,
  .box-6--,
  .box-7--{
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 70% 20px 20px 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgb(84, 83, 83);
    display: flex;
}
.box-1-- {
      left: 10%;
      z-index: 1;
      background-color:#482168;
    }
    .box-2-- {
      left: 20%;
      background-color:#6e4c8c;
      z-index: 2;
    }
    .box-3-- {
      left: 30%;
    
      background-color:#9364B2;
      z-index: 3;
    }
    .box-4-- {
      left: 40%;
      background-color:#B290CC;
      z-index: 4;
    
    }
    .box-5-- {
      left: 50%;
      background-color:#C4A8D8;
      z-index: 5;
    
    }
    .box-6-- {
      left: 60%;
      background-color:#bda5cb;
      z-index: 6;
    }
    .box-7-- {
      left: 70%;
      background-color:#c9b7da;
      z-index: 7;
    }
  /* div-4 */
  .box-1---,
  .box-2---,
  .box-3---,
  .box-4---,
  .box-5---,
  .box-6---,
  .box-7---{
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 90% 20px 20px 20px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgb(84, 83, 83);
    display: flex;
}
.box-1--- {
      left: 10%;
      z-index: 1;
      background-color:#a48903;
    }
    .box-2--- {
      left: 20%;
      background-color:#B99A00;
      z-index: 2;
    }
    .box-3--- {
      left: 30%;
    
      background-color:#C6A500;
      z-index: 3;
    }
    .box-4--- {
      left: 40%;
      background-color:#D2AE00;
      z-index: 4;
    
    }
    .box-5--- {
      left: 50%;
      background-color:#DFB900;
      z-index: 5;
    
    }
    .box-6--- {
      left: 60%;
      background-color:#EAC300;
      z-index: 6;
    }
    .box-7--- {
      left: 70%;
      background-color:#F7CD00;
      z-index: 7;
    }