* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.topbar {
  width: 100%;
  height: 30px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(254, 240, 229, 1) 11%,
    rgba(255, 198, 150, 1) 20%,
    rgba(253, 237, 220, 1) 52%,
    rgba(255, 226, 182, 1) 92%
  );
}
.topbar {
}
.topbar button {
  width: 150px;
  height: 80%;
  background-color: #ff6600;
  padding: 0px 5px;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.612);
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: 500;
  color: white;
  margin: 2px;
  margin-left: 5%;
}
.middlebar {
  width: 100%;
  height: 70px;
}
header {
  height: 60px !important;
}
header a {
  text-decoration: none;
}
.toplinks {
  width: 170px !important;
  height: 35px !important;
}
.top-signinbtn {
  width: 120px !important;
  height: 30px !important;
  border: none !important;
  background-color: #ff6600;
  border-radius: 20px !important;
}
.secondTopBar {
  width: 100% !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.secondTopBar ul {
  display: flex !important;
}

.secondTopBar ul a {
  text-decoration: none !important;
  color: whitesmoke;
  border: none !important;
  border-radius: 20px !important;
}
.secondTopBar ul a:hover {
  border: none !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  background-color: whitesmoke;
  color: rgb(1, 1, 1) !important;
  margin-bottom: 2px;
}
.first-part {
  height: 624px !important;

  margin: 0 !important;
  margin: 0 auto !important;
  padding: 0 !important;
  background: linear-gradient(
      90deg,
      rgb(7, 7, 7) 11%,
      rgba(61, 57, 57, 0.0033263305322128733) 49%,
      rgba(5, 5, 5, 0.551) 92%
    ),
    url(./assets/mainBodyImg.png) no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.upper {
  background-color: #000000;
  margin: 0 auto !important;
}
.brown-section {
  width: 100% !important;
  min-height: 440px !important;

  background-color: #3a190b;
}
.colm {
  width: 320px !important;
  min-height: 300px !important;
  margin: 0 auto !important;
  border-radius: 20px;
  padding: 20px;
  row-gap: 20px;
  background-color: #492718c0;
  cursor: pointer;
}
.card-icon {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 30px;
  height: 60px;
  padding: 10px;
  width: 60px;
}
.card-heading {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 30px;
  margin: 10px 0;
}
.card-text {
  color: #fff;
  font-size: 16px;
  height: auto;
  letter-spacing: 0;
  margin: 20px 0 !important;
  line-height: 28px;
}

.searchdiv {
  width: 75%;
  height: 62px;
  border: none;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
}
.searchdiv input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 40px;
}
.searchdiv input:focus {
  outline: none;
  border: none;
}
.searchdiv svg {
  margin-left: -15%;
}
.searchdiv .searchbtn {
  width: 125px;
  height: 80%;
  color: #ffffff;
  border: none;
  font-weight: 600;
  border-radius: 40px;
  background-color: #ff6600;
}
.lis {
  text-decoration: none !important;
  background-color: transparent;
  color: rgb(255, 255, 255) !important;
  border-radius: 20px !important;
  transition: all ease 0.4s;
  border: 1px solid whitesmoke !important;
}
.lis:hover {
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  background-color: rgba(4, 4, 4, 0.629) !important;
}
.about1 {
  min-height: 110vh;
}
.about1 h1 {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about1 .upperDiv,
.about1 .lowerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about1 p {
  width: 155px;
  height: 90px;
  border-left: 5px solid #dddddd;
}
.about1 span {
  color: #ff6600;
  font-size: 40px;
  font-weight: 600;
}
.marquee {
  display: flex !important;
  align-self: center !important;
  align-items: center !important;
  justify-content: center;
}
.marqueeDiv {
  width: 120px;
  height: 120px;
  text-align: center !important;
  border: 1px solid black;
  border-radius: 50%;
}
.marqueeDiv img {
  display: flex !important;
  align-self: center !important;
  align-items: center !important;
  justify-content: center;
  background: #ff0000 !important;
}
.marquee-para {
  font-size: 12px !important;
  font-weight: 500px !important;
}
.gap-bt-carousel {
  width: 100% !important;
}
.row1 {
  margin: 0 !important;
  padding: 0 !important;
}
.sorce {
  width: 100%;
  min-height: 500px;
}
.box {
  width: 100%;
  height: 400px;
  display: flex;
  padding: 0px 2em;
  justify-content: space-evenly;
}
.inner1,
.inner2,
.inner3 {
  width: 30%;
  height: 100%;
  border: none;
  color: #ffffff;
  font-weight: 700;
  background-color: #ff6600;
  border-radius: 20px;
}
.inner1 {
  background: radial-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.1)),
    url(./assets/factory-img-1.png) center;
  background-size: cover;
}
.inner2 {
  background: radial-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.1)),
    url(https://5.imimg.com/data5/SELLER/Default/2022/9/DH/RS/UY/40790691/malmal-plan-fabric.jpg)
      center;
  background-size: cover;
}
.inner3 {
  background: radial-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.1)),
    url(https://themanufacturer-cdn-1.s3.eu-west-2.amazonaws.com/wp-content/uploads/2023/08/24102231/Manufacturing_GettyImages-1467331160_3000_0_72_RGB-2-1-1024x700.jpg)
      center;
  background-size: cover;
}
.inner1 a,
.inner2 a,
.inner3 a {
  display: block;
  margin-top: 90%;
  font-weight: 500 !important;
  color: #ffffff;
  cursor: pointer;
}
.tradeSection {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(#00000045, #3332325b),
    url(https://blog.thecenterforsalesstrategy.com/hubfs/For%20Top%20Sales%20Performance,%20Treat%20Your%20Salespeople%20Like%20Clients.jpeg)
      no-repeat;
  background-position: top center;
  background-size: cover;
}
.tradeMain {
  width: 90%;
  height: 100vh;
  padding: 4em 2em;
  color: whitesmoke;
  margin: 0 auto;
}
.tradeDiv1 {
  width: 80%;
  font-size: 1vmin;
  font-size: 3vmax;
  font-weight: bold;
  height: 30% !important;
}
.tradeDiv2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0em 2em;
  height: 60% !important;
}
.div21,
.div22 {
  width: 45% !important;
  height: 300px;
  border: 1px solid rgba(128, 128, 128, 0.251);
  border-radius: 20px;
  background-color: #00000039;
  backdrop-filter: blur(7px);
}
.div21 i,
.div22 i {
  padding: 0.7em 1.5em;
  border-radius: 50px;
  margin-top: 20px !important;
  border: 1px solid white;
  background-color: #00000044;
}
.fulfilSection {
  width: 100%;
  min-height: 984px;
  background-color: #00000039;
}
.fulfilDiv {
  width: 100%;
  min-height: 497px;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fulfilDiv1 {
  width: 50%;
  height: 425px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid salmon;
  background-color: #5c5958;
}
.fulfilhide {
  width: 50%;
  display: none;
}
.fulfilhide:hover {
  width: 80%;
  display: block;
}
.fulfilDiv1 p:hover {
  color: #51200b;
}
/* tailedSection CSS */
.tailedSection {
  width: 100%;
  min-height: 80vh;
  background-color: #f7f2f0;
}
.tailedupper,
.tailedlower {
  width: 100%;
  height: 300px;
  padding: .5em 1em;
  background-color: #ffffff;
}
.tailedupper {
  text-align: center;
  background-color: transparent !important;
  padding: 2em 12em !important;
}
.tailedupper h1 {
  font-size: 3vmax;
}
.tailedlower {
  
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-middleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0em 2em;
  height: 60% !important;
}
.div1 {
  width: 40%;
  height: 100% !important;
  display: flex;
  justify-content: space-around;
  align-items:center;
  /* gap: 0em 2em;x */
}
.div2{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 60%;
  height: 100% !important;
  text-align: center;
}
@media (max-width: 1399px) {
  .colm {
    width: 270px !important;
    height: 350px !important;
  }
  .card-text {
    margin: 0px 0 !important;
  }
  .about1 {
    height: 113vh;
  }
  .marqueeDiv {
    padding: 0% !important;
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 1199px) {
  .colm {
    width: 220px !important;
    height: 250px !important;
  }
  .card-icon {
    margin-left: 20% !important;
  }
  .card-heading {
    display: none !important;
  }
  .brown-section {
    height: 311px !important;
  }
  .inner {
    width: 30%;
  }
}

@media (max-width: 990px) {
  .toplinks,
  .secondTopBar {
    display: none !important;
  }
  .grid-container {
    display: flex !important;
  }
  .grid-container-1 {
    grid-template-columns: 1fr;
  }
  .row {
    --bs-gutter-x: -2.5rem;
  }
  .colm {
    width: 180px !important;
    height: 219px !important;
  }
  .card-heading {
    font-size: 20px;
  }
  .about1 {
    width: 100vw !important;
  }
  .marqueeDiv {
    width: 80px;
    height: 80px;
  }
  .marquee-para {
    /* width: 0px;
    height: 90px; */
    padding-top: 0% !important;
  }
}
